* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(112, 130, 197);
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: center;
  margin-top: 30px;
}

.div {
  background-color: rgb(233, 217, 125);
  width: 100px;
  height: 14vh;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change {
  background-color: rgb(129, 70, 39);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 14vh;
  margin: 4px;
  color: white;
  font-size: xxx-large;
  text-align: center;
}

.h1 {
  margin-top: 20px;
  text-align: center;
  color: rgb(79, 53, 24);
  align-items: center;
  transition: 0.3s;
  transform: scale(1.1);
  text-decoration: underline;
}
